# Gradle Files #

/.gradle

# Gradle Output Directories #

/components/*/build/

# Smuggler's Configuration Files #
# NB files used for a run from the server directory.

/components/server/*.yml

# Eclipse Project Files #

.classpath
.project
.settings

# Eclipse Output Directories #

/components/*/bin/

# IDEA Files #

/.idea
