<!DOCTYPE html>
<html lang="en">
<head>
  <title>$title$</title>
  
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="http://necolas.github.io/normalize.css/latest/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="../css/style.css"/>
  
</head>

<body>

  <figure id="pic-1">
    <object type="image/svg+xml" data="../content/design/messaging/ideas/1.channel.svg">
      ../images/logo.svg
    </object>
  </figure>

</body>
</html>
